html
  head
    title= 'Hauptübersicht'
  body
    a(href='/db')= 'Datenbankeinstellungen'
    h1= 'Hauptübersicht'
    p= 'Hier sind alle Bilder aufgelistet'
    table
      tr
        th= 'Id'
        th= 'Pfad'
        th= 'Erstellungsdatum'
        th= 'Fragmente'
        th= 'Löschen'
      each row in rows
        tr
          each cell in row
            td= cell
          td
            - ident_ = row[0]
            a(href='/image/' + ident_ + '/fragments')= 'Fragmente'
          td
            a(href='/image/' + ident_ + '/delete')= 'Löschen'
    h2= 'Upload'
    include upload.pug