extends layout.pug

block title
  title= 'Fragment'
  - var selected = 'images'

block content
    if message.length > 0
        p= ''
        p(class="alert alert-dismissible alert-danger")= message
        p= ''
    h1= 'Hauptübersicht'
    p= 'Hier sind alle Bilder aufgelistet'
    table(class="table")
      tr
        th= 'Id'
        th= 'Pfad'
        th= 'Erstellungsdatum'
        th= 'Fragmente'
        th= 'Löschen'
      each row in rows
        tr
          td= row[0]
          td= row[1]
          td= new Date(Number(row[2])).toLocaleString()
          td
            - ident_ = row[0]
            a(href='/image/' + ident_ + '/fragments')= 'Fragmente'
          td
            a(href='/image/' + ident_ + '/delete')= 'Löschen'
    h2= 'Upload'
    include upload.pug