if message && message.length > 0
    p= ''
    p(class="alert alert-dismissible alert-danger")= message
    p= ''
if info && info.length > 0
    p= ''
    p(class="alert alert-dismissible alert-info")= info
    p= ''