html
  head
    title= 'Hauptübersicht'
  body
    h1= 'Hauptübersicht'
    p= 'Hier sind alle Bilder aufgelistet'
    table
      tr
        th= 'Id'
        th= 'Pfad'
        th= 'Erstellungsdatum'
        th= 'Fertig'
        th= 'Löschen'
      each row in rows
        tr
          each cell in row
            td= cell
          td
            - image_ = row[1]
            - ident_ = row[0]
            a(href='http://localhost:8000/editor/www/?image=/media/uploaded_images/' + image_ + '&xml_file=/media/uploaded_xmls/'+  ident_ +'.xml')= 'Editor'
          td
            a(href='form?ident='+row[0])= 'Modifikation'
          td
            a(href='delete?ident='+row[0])= 'Löschen'
    h2= 'Upload'
    include upload.pug